@{
    Layout = null;
}
@using System.Security.Claims;
@using System.Linq;

<html>
    <head>
        <title>Contoh Otentikasi - Secret</title>
    </head>
    <body>
        <a asp-controller="ContohOtentikasi" asp-action="Logout">Logout</a>
        <br/><br/>
         @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </body>
</html>

